* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3 {
    font-family:  'Montserrat', sans-serif;;
    font-weight: normal;
}

body, input, textarea {
    font-family: 'Roboto', sans-serif;
}

header  {
    padding: 16px 0;
    background-color: #8f0404;
    color: #0c0a0a;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #0e1212;
    text-decoration: none;
}

.container {
    max-width: 1280;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: #070606;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    width: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #ee0c0c;
    color: #f6efef;
    border: none;
}

form button:hover {
    background-color: #120e0e;;
}

input:focus, textarea:focus {
    outline-color: #611818;
}

footer {
    background-color: #611822;
    color: #080808;
    padding: 16px;
}


.container .store-front {
    width: 579px;
}